@media screen and (max-width: 760px){

    header{
        flex-direction:left;
    }

    main{
        flex-direction: left;
    }
  h1{

    text-align:center ;
  }

  
    img{
        display: center;
    }


footer a {
  
     margin: 28px;
     height: 20px;
     text-align: center;
}



  
